body {
    font-family: "Trebuchet MS";
    font-size: 18px;
}

.content-wrapper>.content,
.content-header {
    padding: 2rem;
}

.content-wrapper {
    background-image: url('../../public/images/123123.jpeg');
}

.main-header {
    background-color: var(--color-my-black);
}

.navbar-nav {
    margin-left: 0 !important;
}

.main-header ul:nth-child(2) {
    flex: 1 0 auto;
}

.header__block {
    flex: 1 0 auto;
}
.header__console {
    color: #98d43d;
    position: relative;
}

.header__label {
    position: absolute;
    left: .5rem;
    bottom: 2.3rem;
}

.header__info {
    display: none;
    height: 20rem;
    padding-bottom: 0.5rem;
    background-color: var(--color-my-black);
    border-radius: 8px;
    overflow: scroll;
}

#console {
    min-width: 100%;
    background: black;
    color: #98d43d;
    outline: none;
    padding-left: 0.5rem;
    border-radius: 8px;
}